* {
	font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
	margin: auto;
}

nav {
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	position: sticky;
	top: 0px;
	width: 100%;
}

a {
	text-decoration: none;
	color: rgb(173, 173, 173);
	margin-left: 40px;
}

a:hover {
	color: white;
}

#logo {
	width: 20px;
}

#title {
	text-align: center;
	color: rgba(0, 0, 0, 0.8);
	margin-bottom: 20px;
}

h1 {
	font-size: 50px;
}

h2 {
	padding-top: 0px;
	font-size: 40px;
}

.banner {
	width: 100%;
}

table {
	text-align: center;
    width: 97%;
}


#cartas {
	width: 50%;
    align-items: center;
}

#cartas:hover {
	background-color: white;
	opacity: 50%;
}

th{
    justify-content: center;
}

tr.spaceUnder>td {
	padding-bottom: 100px;
}

table { 
    padding-top: 70px;
}

main {
	padding-bottom: 110px;
}

footer {
	background-color: rgba(0, 0, 0, 0.8);
	color: rgb(173, 173, 173);
	height: 50px;
	text-align: center;
	display: flex;
	justify-content: center;

}

#black{
    background-color: black;
}

#name{
    text-decoration: none;
    color: black;
}

#collectionMain{
	margin-top: 100px;
	margin-right: 20%;
	margin-left: 20%;
	text-align: justify;
	line-height: 30px;
}


#collections{
	padding-top: 50px;
	padding-bottom: 80px;
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

#collections h1{
	font-size: 30px;
	text-align: center;
}

#collections p{
	padding-bottom: 50px;
}

.titan{
	background-image: url('../img/Carta1.png');
	width: 360px;
	height: 500px;
	text-align: center;
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center center;
}

.titan:hover{
	background-image: url('../img/Goofy1FX.png');
}

#sampleCards{
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	text-align: center;
}

#samples{
	width: 50px;
}

#samples:hover{
	width: 300px;
}

form{
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 50px;
	width: auto;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

form div{
	margin-top: 20px;
	margin-bottom: 20px;
}